
<div class="container">
    <page-header content="vm.pageHeader"></page-header>

    <div class="row">
        <div class="col-md-8 col-sm-12">
            <p class="lead">Vous avez déja un compte? Alors <a href="/#login?page={{vm.returnPage}}">identifiez-vous</a></p>
            <form ng-submit="vm.onSubmit()">
                <div role="alert" ng-show="vm.formError" class="alert alert-danger">{{vm.formError}}</div>
                <div class="form-group">
                    <label for="name">Nom Complet</label>
                    <input type="text" placeholder="Enter your name" ng-model="vm.credentials.name" class="form-control" id="name"/>
                </div>
                <div class="form-group">
                    <label for="email">addresse Email</label>
                    <input type="email" class="form-control" id="email" placeholder="Enter email" ng-model="vm.credentials.email">
                </div>
                <div class="form-group" ng-init="vm.credentials.classe='externe'">
                    <p for="classe"><label>Classe</label></p>
                    <label class="radio-inline" id="toto">
                        <input id="classe" type="radio" name="classe" ng-model="vm.credentials.classe" value="6eme"> 6ème
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="classe" ng-model="vm.credentials.classe" value="5eme"> 5ème
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="classe" ng-model="vm.credentials.classe" value="4eme"> 4ème
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="classe" ng-model="vm.credentials.classe" value="3eme"> 3ème
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="classe" ng-model="vm.credentials.classe" value="2nde"> 2nde
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="classe" ng-model="vm.credentials.classe" value="1ere"> 1ère
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="classe" ng-model="vm.credentials.classe" value="terminale"> Terminale
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="classe" ng-model="vm.credentials.classe" value="externe"> Externe
                    </label>


                </div>
                <div class="form-group">
                    <label for="password">Mot de passe</label>
                    <input type="password" class="form-control" id="password" placeholder="Password" ng-model="vm.credentials.password">
                </div>
                <button type="submit" class="btn btn-default">Créer un compte</button>
            </form>
        </div>
    </div>
</div>