<div class="modal-header">
    <h3 class="modal-title">Bienvenue chez les zenigmes</h3>
</div>
<div class="modal-body">
    <p>Votre compte a bien été créé. Il doit maintenant être validé par votre professeur.</p>
    <p>Un mail vient de lui être envoyé et il devrait vous valider sous les 24 heures.</p>
    <p>Vous recevrez un mail lorsque votre compte sera validé. N'oubliez pas de vérifier votre dossier de courriers indésirable.</p>
</div>
<div class="modal-footer">
    <!-- <button class="btn btn-default" type="button" ng-click="ok('classement')">Classement</button> -->
    <button class="btn btn-primary" type="button" ng-click="ok()">Retourner à l'accueil</button>
</div>