<div class="modal-header">
    <h3 class="modal-title">Bienvenue chez les zenigmes</h3>
</div>
<div class="modal-body">
    <p>Nous avons pris en compte votre demande. Votre compte est en attente de validation.</p>
    <p>Dans moins de 24h, vous recevrez un message de confirmation de création de compte</p>
    <p>Pensez à regarder dans votre courrier indésirable si vous ne l'avez pas reçu.</p>
</div>
<div class="modal-footer">
    <!-- <button class="btn btn-default" type="button" ng-click="ok('classement')">Classement</button> -->
    <button class="btn btn-primary" type="button" ng-click="ok()">Retourner à l'accueil</button>
</div>