<div class="container">

  <page-header content="{title:'Vos Défis', strapline:'Répondez vite aux défis qui vous sont proposés'}"></page-header>

  <div class="container bootstrap snippet">
    <div class="row">
      <div class="col-lg-12">
        <div role="alert" ng-show="vm.error" class="alert alert-danger" ng-bind-html="vm.error"></div>
        <div class="main-box no-header clearfix">
          <div class="main-box-body clearfix">
            <div class="table-responsive">
              <table class="table user-list">
                <thead>
                  <tr>
                  <th class="text-center"><span>Défi</span></th>
                    <th class="text-center"><span>Debut du défi</span></th>
                    <th class="text-center"><span>Fin du défi</span></th>
                    <th class="text-center"><span>Enigme du moment</span></th>
                    <th>&nbsp;</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat='session in vm.sessionsForUser'>
                    <td class="text-center">
                      {{session.nom}}
                    </td>
                    <td class="text-center">{{session.start | date: 'd MMMM yyyy'}}</td>
                    <td class="text-center">{{vm.getSessionEndDate(session) | date: 'd MMMM yyyy'}}</td>
                    <td class="text-center">
                      <span ng-show="session.enigmeDuMoment != null"><strong>{{session.enigmeDuMoment.titre}}</strong><br><div ng-show="session.enigmeDuMoment.alreadyAnswered">(Déja Répondu)</div></span>
                      <span ng-show="vm.isSessionNotStartedYet(session)">Défi à venir</span>
                      <span ng-show="vm.isSessionEnded(session)">Défi fini</span>
                    </td>
                    <td>
                      <ul >
                        <li  ng-repeat="session in user.sessions">
                          {{session.nom}}
                        </li>
                      </ul>
                    </td>
                    <td style="width: 20%;">
                      <a href="#" ng-show="session.enigmeDuMoment != null && !session.enigmeDuMoment.alreadyAnswered" ng-href="/#/enigmes/{{session.enigmeDuMoment._id}}?sessionid={{session._id}}" class="table-link success" ng-click="">
                        <span class="fa-stack">
                          <i class="fa fa-square fa-stack-2x"></i>
                          <i class="fa fa-play-circle fa-stack-1x fa-inverse"></i>
                        </span>
                      <a href="#" ng-href="/#/defis/{{session._id}}" class="table-link success" ng-click="">
                        <span class="fa-stack">
                          <i class="fa fa-square fa-stack-2x"></i>
                          <i class="fa fa-plus-square fa-stack-1x fa-inverse"></i>
                        </span>
                      </a>
                      <a href="#" ng-href="/#/classements/{{session._id}}" class="table-link success" ng-click="">
                        <span class="fa-stack">
                          <i class="fa fa-square fa-stack-2x"></i>
                          <i class="fa fa-trophy fa-stack-1x fa-inverse"></i>
                        </span>
                      </a>
                      </a>
                    </td>
                  </tr>

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

