body{
    background:#eee;    
}

a.table-link.danger {
    color: #e74c3c;
}

.user-subhead {
    font-size: 0.875em;
    font-style: italic;
}
.user-link {
    display: block;
    font-size: 1.25em;
    padding-top: 3px;
    margin-left: 60px;
}
a {
    color: #3498db;
    outline: none!important;
}
img {
    position: relative;
    max-width: 50px;
    float: left;
    margin-right: 15px;
}


