p Cher Utilisateur,
p Une nouvelle enigme dans le cadre de votre défi vient de commencer: 
p <strong>#{enigme.titre} </strong>

p Répondez dés à présent à l'énigme à <a href=#{enigmeAnswer}>l'adresse suivante</a>
