p Cher Utilisateur,
p Un nouveau défi vient d'être créé: 
p <strong>#{defi.nom} </strong>
p <strong>#{defi.start} </strong>

p Vous pouvez visualiser ce défi dans <a href=#{mesDefis}> la page des défis </a>
