p Cher utilisateur,
p Un nouveau défi vient d'être créé: 
p <strong>#{defi.nom} </strong>
p Ce défi démarre le <strong>#{defi.start.toLocaleDateString("fr")} à #{defi.start.toLocaleTimeString("fr")}</strong>

p Vous pourrez visualiser ce défi dans <a href=#{mesDefis}> la page des défis </a> si votre compte est actif.
