p Vous recevez ce mail car vous (ou quelqu'un d'autre) a demandé la réinitialisation de votre mot de passe pour les Zenigmes.
p Veuillez cliquer sur le lien suivant pour finaliser le processus :
p <a href=#{passResetUrl}> #{passResetUrl} </a>
p Si vous n'êtes pas à l'origine de cette demande, veuillez ignorer ce mail, votre mot de passe ne sera pas changé.
