

<div class="container">

  <page-header content="{title:'Toutes les enigmes', strapline:'Voici toutes les énigmes disponible sur le serveur'}"></page-header>

  <div class="row">
    <div class="col-xs-12 col-md-8">
      <form class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-4 control-label" for="filter">Trouver rapidement une enigme</label>
          <div class="col-sm-8">
            <input id="filter" class="form-control col-sm-10" type="text", name="filter", ng-model="textFilter"/>
          </div>
        </div>
      </form>
      <div class="row list-group">
        <div class="col-xs-12 list-group-item" ng-repeat="enigme in vm.enigmes | filter: textFilter" >
          <h4>
            <a href="/#/enigmes/{{enigme._id}}">{{enigme.titre}}</a>
            
            <niveau enigme="enigme"/>
            <points enigme="enigme"/>
            
          </h4>
          
        </div>

      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <p class="lead">Les zenigmes sont faites pour stimuler la reflexion et la créativité des élèves<br/>
        Chaque Enigme appartient à un niveau particulier. Verifier votre niveau avant de selectionner des enigmes
      </p>
    </div>
  </div>

 
</div>
