

<div class="container">

  <page-header content="{title:'Tous les défis', strapline:'Voici tous les défis de votre établissement'}"></page-header>

  <div class="row">
    <div class="col-xs-12 col-md-12">
      <form class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-4 control-label" for="filter">Trouver rapidement un defi</label>
          <div class="col-sm-8">
            <input id="filter" class="form-control col-sm-8" type="text", name="filter", ng-model="textFilter"/>
          </div>
        </div>
      </form>
      <div class="row">

        <div class="list-group col-xs-12 col-lg-4" ng-repeat="level in vm.niveaux">
          <div class="panel panel-default">
            <div class="panel-heading text-center"><h4><niveau enigme="{niveau:level}"/></h4>{{filtered.length}} Défis</div>
            <div class="panel-body">
              <div class="list-group-item" ng-repeat="defi in vm.defis | filter: textFilter | filter: vm.filterByLevel(level) | orderBy:vm.orderByDefi:false as filtered " >
                
                  



            <div ng-if="defi.enigmeDuMoment">
              <h4>
                <small class="pull-right">Défi en cours</small>
                {{defi.nom}}
              </h4>
              <p>
                <a href="/#/enigmes/{{defi.enigmeDuMoment._id}}">
                  {{ defi.enigmeDuMoment.titre }}
                </a>
                <points enigme="defi.enigmeDuMoment"/>
              </p>
            </div>
            <div ng-if="vm.isSessionNotStartedYet(defi)">
              <h4 class="text-danger">
              <small class="pull-right">Défi à venir </small>
              <span>{{defi.nom }}</span>
              </h4>
            </div>
            <div ng-if="vm.isSessionEnded(defi)">
              <h4 class="text-success">
              <small class="pull-right">Défi terminé </small>
              {{defi.nom}} 
              </h4>
            </div>

            
            <p>Durée du défi: {{vm.defiDuration(defi)}} <br> Du {{defi.start | date: 'd MMM yyyy'}} au {{vm.getSessionEndDate(defi) | date: 'd MMM yyyy'}}</p>


            <p ng-hide="vm.isSessionNotStartedYet(defi)">
              <a href="#" ng-href="/#/classements/{{defi._id}}" class="table-link success" ng-click="">
              <span class="fa-stack">
                <i class="fa fa-square fa-stack-2x"></i>
                <i class="fa fa-trophy fa-stack-1x fa-inverse"></i>
              </span> Classement
              </a>
            </p>


            <uib-accordion>
            <div uib-accordion-group class="panel-default"  is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
              <uib-accordion-heading>
                Liste des enigmes ({{defi.enigmes.length}}) <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.isCustomHeaderOpen, 'glyphicon-chevron-right': !status.isCustomHeaderOpen}"></i>
              </uib-accordion-heading>
              
                <ul class="list-unstyled">
                  <li ng-init="coll = true" ng-repeat="enigme in defi.enigmes">
                    <points enigme="enigme.enigme"/>
                    <span ng-hide="enigme.answers.length == 0" >
                      <a ng-click="coll = !coll"><i ng-show="coll" class="fa fa-plus-square"></i> <i ng-show="!coll" class="fa fa-minus-square"></i></a>                
                    </span> 
                    <a ng-hide="enigme.enigme._id == defi.enigmeDuMoment._id" ng-href="/#enigmes/{{enigme.enigme._id}}">{{enigme.enigme.titre}} <small ng-hide="enigme.answers.length == 0">({{enigme.answers.length}} réponses)</small> </a>
                    <a ng-show="enigme.enigme._id == defi.enigmeDuMoment._id"  ng-href="/#enigmes/{{enigme.enigme._id}}"><strong>{{enigme.enigme.titre}} <small ng-hide="enigme.answers.length == 0">({{enigme.answers.length}} réponses)</small></strong> </a>
                    <div uib-collapse="coll">
                      <ul class="list-unstyled">
                        <li ng-class="answer.correctValue?'bg-success':'bg-danger'" ng-repeat="answer in enigme.answers">
                          {{answer.user}}  <span  class="pull-right">{{answer.value}}</span>
                          <p>{{answer.answerDate | date: 'd MMM yyyy   HH:mm'}}</p>
                        </li>
                      </ul>
                      
                    </div>
                  </li>
                </ul>
            </div>
          </uib-accordion>







                  
                  
                
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  
  </div>
  

 
</div>
