
<div class="container">
<page-header content="vm.pageHeader"></page-header>

<div class="row">
    <div class="col-xs-12 col-md-8">

        <form ng-submit="vm.create(enigme)">
          <div role="alert" ng-show="vm.formError" class="alert alert-danger">{{vm.formError}}</div>
          <div class="form-group">
            <label for="title">Titre de l'énigme</label>
            <input class="form-control" id="title" ng-model="enigme.titre" placeholder="Titre">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Description</label>
            <textArea ui-tinymce="tinymceOptions" name="review" rows="6" ng-model="enigme.description" class="form-control"></textArea>
          </div>
          <div class="form-group">
            <label for="illustration">Illustration de l'énigme</label>
            <input type="file" file-model="myFile" id="illustration" ng-model="enigme.illustration">
            <p class="help-block">Choisissez une image qui illustrera le mieux votre énigme.</p>
          </div>
       
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div class="form-group">
                        <label for="">Niveau de l'énigme</label>
                        <div class="panel panel-default">
                          <div class="panel-body">
                            <div class="radio">
                              <label>
                                <input type="radio" name="niveauRadios" id="optionsRadios1" value="1" ng-model="enigme.niveau" checked>
                                <niveau enigme="{niveau:1}"/>
                              </label>
                            </div>
                            <div class="radio">
                              <label>
                                <input type="radio" name="niveauRadios" id="optionsRadios2" value="2" ng-model="enigme.niveau">
                                <niveau enigme="{niveau:2}"/>
                              </label>
                            </div>
                            <div class="radio">
                              <label>
                                <input type="radio" name="niveauRadios" id="optionsRadios3" value="3" ng-model="enigme.niveau">
                                <niveau enigme="{niveau:3}"/>
                              </label>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
                        
                
                <div class="col-xs-12 col-md-6">
                    <div class="form-group">
                        <label for="">Nombre de points</label>
                        <div class="panel panel-default">
                          <div class="panel-body">
                            <div class="radio">
                              <label>
                                <input type="radio" name="pointsRadios" id="optionsRadios1" value="1" ng-model="enigme.points" checked>
                                <points enigme="{points:1}"/>
                              </label>
                            </div>
                            <div class="radio">
                              <label>
                                <input type="radio" name="pointsRadios" id="optionsRadios2" value="2" ng-model="enigme.points">
                                <points enigme="{points:2}"/>
                              </label>
                            </div>
                            <div class="radio">
                              <label>
                                <input type="radio" name="pointsRadios" id="optionsRadios3" value="3" ng-model="enigme.points">
                                <points enigme="{points:3}"/>
                              </label>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
          <div class="form-group">
            <label >Réponse</label>
            <textArea ui-tinymce="tinymceOptions" name="answer" rows="4" ng-model="enigme.answer" class="form-control"></textArea>
          </div>
          <button type="submit" class="btn btn-default">Créer L'énigme</button>
        </form>
    </div>
</div>
   
</div>