

<div class="container">

  <div id="banner" class="page-header">
    <div class="jumbotron text-center">

      <h1>Bienvenue sur Z'ENIGMES</h1>

      <p>{{ vm.tagline }}</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-8">
      <label for="filter">Trouver rapidement une enigme</label>
      <input id="filter" type="text", name="filter", ng-model="textFilter">
      <div class="row list-group">
        <div class="col-xs-12 list-group-item" ng-repeat="enigme in vm.enigmes | filter: textFilter" >
          <h4>
            <a href="/#/enigmes/{{enigme._id}}">{{enigme.titre}}</a>
            
            <niveau enigme="enigme"/>
            <span class="badge">{{enigme.points}} points</span>
          </h4>
          
        </div>

      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <p class="lead">Les zenigmes sont faites pour stimuler la reflexion et la créativité des élèves<br/>
        Chaque Enigme appartient à un niveau particulier. Verifier votre niveau avant de selectionner des enigmes
      </p>
    </div>
  </div>

  <footer-generic></footer-generic>
</div>
