<div class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">Z'enigmes</a>
      <button type="button" data-toggle="collapse" data-target="#navbar-main" class="navbar-toggle">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div id="navbar-main" class="collapse navbar-collapse">
    
      <ul class="nav navbar-nav navbar-right">  
        <li ng-hide="navvm.isLoggedIn"><a href="/#login/?page={{navvm.currentPath()}}" data-toggle="collapse" data-target=".navbar-collapse">s'identifier</a></li>
        <li ng-hide="navvm.isLoggedIn"><a href="/#register/?page={{navvm.currentPath()}}" data-toggle="collapse" data-target=".navbar-collapse">Créer un compte</a></li>
        <li ng-show="navvm.isLoggedIn" class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown">{{navvm.currentUser.name}}<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/#mesdefis" data-toggle="collapse" data-target=".navbar-collapse">Mes Défis</a></li>
            <li ng-show="navvm.isAdmin" role="separator" class="divider"></li>
            <li ng-show="navvm.isAdmin"><a href="/#enigmes" data-toggle="collapse" data-target=".navbar-collapse">Toutes les énigmes</a></li>
            <li ng-show="navvm.isAdmin"><a href="/#enigmes/new" data-toggle="collapse" data-target=".navbar-collapse">Créer une nouvelle énigme</a></li>
            <li ng-show="navvm.isAdmin"><a href="/#sessions/new" data-toggle="collapse" data-target=".navbar-collapse">Créer un nouveau défi</a></li>
            <li ng-show="navvm.isAdmin" ><a href="/#sessions" data-toggle="collapse" data-target=".navbar-collapse">Gestion des défis</a></li>
            <li ng-show="navvm.isAdmin" ><a href="/#users" data-toggle="collapse" data-target=".navbar-collapse">Gestion des utilisateurs</a></li>
            <li ng-show="navvm.isAdmin" role="separator" class="divider"></li>
            <li><a href="" ng-click="navvm.logout()" data-toggle="collapse" data-target=".navbar-collapse">Deconnexion</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown">Options<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li ><a href="" ng-click="navvm.toggleAnims()" >{{navvm.isAnimOn() ? "Desactiver" : "Activer"}} les animations</a></li>
          </ul>
        </li>
        <li><a href="/" data-toggle="collapse" data-target=".navbar-collapse">A propos</a></li>
      </ul>
      
    </div>
  </div>
</div>