

<div class="container">

  <page-header content="{title:'Tous les élèves', strapline:vm.totalStudents +' élèves répartis dans '+ vm.totalClasses+' classes'}"></page-header>

  <div class="row">
    <div class="col-xs-12 col-md-9">
      <div class="row">
        <uib-accordion close-others="true">
          <div ng-repeat="classe in vm.classes | orderBy:vm.orderByClasse" uib-accordion-group class="{{vm.classForGroup(classe)}}" >
            <uib-accordion-heading >
              {{classe.className | formatClasse}} <small ng-Hide="classe.className==='externe'">({{vm.getStudentsNbPerClass(classe)}} élèves) </small>
            </uib-accordion-heading>
            <div ng-hide="classe.className==='externe'" class="col-xs-12 col-sm-6 col-md-4" ng-repeat="number in classe.classeNumbers">
              <div class="panel-group">
                <div class="panel panel-info">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a ng-init="isCollapsed=true" ng-click="isCollapsed = !isCollapsed" >{{classe.className | formatClasse}} <em>{{number.number}}</em> <small>({{number.students.length}} élèves)</small></a>
                    </h4>
                  </div>
                  <div uib-collapse="isCollapsed" class="panel-collapse collapse">
                    <div class="list-group">
                      <a href = "#" class="list-group-item" ng-repeat='student in number.students'>
                        <h4 class="list-group-item-heading">{{student.name}}</h4>
                        <p>{{student.email}}</p>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <ul ng-show="classe.className==='externe' && classe.classeNumbers.length>0" class="list-group">
              <li href = "#" class="list-group-item" ng-repeat='student in classe.classeNumbers[0].students'>
                <h4 class="list-group-item-heading">{{student.name}}</h4>
                <p>{{student.email}}</p>
              </li>
            </ul>
                   
          </div>
        </uib-accordion>
       

      </div>
    </div>
    <div class="col-xs-12 col-md-3">
    <p class="lead">Voici la liste de toutes les classes enregistrées ainsi que des {{vm.totalStudents}} élèves appartenant à ces classes</p>
    </div>
  
  </div>
  

 
</div>
