<div class="modal-header">
    <h3 class="modal-title">Merci</h3>
</div>
<div class="modal-body">
    <p>Votre Réponse a bien été enregistré. Merci d'avoir joué</p>
    <p>Vous pouvez voir si vous avez obtenu des points en cliquant sur le classement de votre défi</p>
</div>
<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="ok('classement')">Classement</button>
    <button class="btn btn-primary" type="button" ng-click="ok()">Retourner à l'accueil</button>
</div>