

<div class="container">
  <page-header content="{title:vm.enigme.titre}"></page-header>

  <div class="row">
    <div class="col-xs-12">
        <flash-message></flash-message>
        <div class="row">
            <div class="col-xs-12 ">
                <div class="panel panel-primary">
                    <div class="panel-heading">

                        <h2 class="panel-title">Description <points enigme="vm.enigme"/>     <niveau enigme="vm.enigme"/></h2>

                    </div>
                    <div class="panel-body">
                        <p ng-bind-html="vm.enigme.description">
                        </p>
                    </div>
                    <div ng-show="vm.isAdmin" class="panel-footer"><div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-default" ng-click="vm.update()">Modifier</button>
                        <button type="button" class="btn btn-default" ng-click="vm.delete()">Effacer</button>
                    </div></div>
                </div>

            </div>

        </div>
        <div ng-show="(vm.enigme.numericAnswer || vm.enigme.textualAnswer) && vm.sessionId" class="row">
            <div class="col-xs-12">
                <a href="/#/login?page={{vm.currentPath}}" ng-hide="vm.isLoggedIn" class="btn btn-default">Identifiez-vous pour répondre</a>
                
                <form ng-show="vm.isLoggedIn"  ng-submit="vm.sendAnswer(vm.reponse)">
                    <div role="alert" ng-show="vm.reponseResult" ng-class="vm.reponseClass" >{{vm.reponseResult}}</div>
                    <div class="form-group">
                        <input ng-show="vm.enigme.numericAnswer" class="form-control" id="reponse" ng-model="vm.reponse" placeholder="Proposer une réponse numérique" type="number">
                        <input ng-show="vm.enigme.textualAnswer" class="form-control" id="reponse" ng-model="vm.reponse" type="text" placeholder="Entrer votre réponse">
                    </div>
                    <button type="submit" class="btn btn-default">Répondre</button>
                </form>    


                
            </div>
        </div>

          <div ng-show="vm.isAdminOrTeacher && !vm.sessionId"  class="panel-group">
            <div class="panel panel-info">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a ng-init="isCollapsed=true" ng-click="isCollapsed = !isCollapsed" >Afficher la réponse</a>
                </h4>
              </div>
              <div uib-collapse="isCollapsed" class="panel-collapse collapse">
                <p>{{vm.enigme.numericAnswer}}</p>
                <p>{{vm.enigme.textualAnswer}}</p>
              </div>
            </div>
            <div class="panel panel-info">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a ng-init="explanationCollapse=true" ng-click="explanationCollapse = !explanationCollapse" >Afficher l'explication de la réponse</a>
                </h4>
              </div>
              <div uib-collapse="explanationCollapse" class="panel-collapse collapse">
                <p ng-bind-html="vm.enigme.answerExplanation"></p>
                
              </div>
            </div>
          </div>


    </div>
    <div class="col-xs-12 col-md-3">
        <p class="lead">{{vm.enigme.trivia}}</p>
    </div>
</div>


</div>